body{
  background-color:  #010D00;
}
header{
  background-color:#798C7C;
  display:flex;
  justify-content:center;
  align-items: center;
  height:500px;
  color:#D9D9D9;
  font-family: 'Karla', sans-serif;
}

h1{
  font-size: 60px;
}

section{
  height: 100%;
}
.main{
  color:#D9D9D9;
  font-family: 'Montserrat', sans-serif; 
  padding-top:80px; 
  display:flex;
  justify-content: center;

  /* grid-template-columns: 1fr 1fr 1fr; */
}

.main h2{
  border-top-style: solid;
  padding-top: 25px;
  border-width: 25px;
  justify-content: space-evenly;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}


p{
  display:block;
  font-size: small;
  width: 280px;
  padding-bottom: 75px;
  padding-top: 10px;
  text-align: center;
}

.title-1{
  margin-left:60px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.title-2{
  margin-left:50px;
  margin-right:50px;
}

.title-3{
  margin-right:50px;
}

.title-1 h2{
  border-color: #F2D5ED;
}

.title-2 h2{
  border-color:#798C7C;
}

.title-3 h2{
  border-color: #F29B88;
}

@media (max-width: 1000px){
  .main{
    display:flex;
    flex-direction:column;
  }
}